.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

nav button {
  background-color: #424242;
  color: white;
  border-radius: 12px;
  width: 100px;
  height: 45px;
  /* padding: 18px; */
}
nav a {
  text-decoration: none;
}
